@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <a asp-controller="Escolas" asp-action="Index" class="btn btn-info">Escolas</a>
        <a asp-controller="Departamento" asp-action="Index" class="btn btn-info">Departamento</a>
        <a asp-controller="Funcao" asp-action="Index" class="btn btn-info">Funções</a>
    </div>
