@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Proibido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Não tem acesso a esta página.</p>
</header>