@page
@model LockoutModel
@{
    ViewData["Title"] = "Conta Bloqueada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">A conta foi bloqueada, por favor tente outra vez mais tarde.</p>
</header>