@model GestaoTarefasIPG.Models.Funcao

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem a certeza que pretende apagar esta função?</h3>
<div>
    <h4>Funcão</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="NomeFuncao" class="control-label">Nome da Função</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncaoId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar para a lista de funções</a>
    </form>
</div>
