@model GestaoTarefasIPG.Models.Funcao

@{
    ViewData["Title"] = "Delete";
}




    <h1>Tem a certeza que pretende apagar?</h1>

    <table class="table table-warning">
        <thead>
            <tr>
                <th>Nome da Função</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.NomeFuncao)</td>
                
            </tr>
        </tbody>
    </table>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="FuncaoId" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </form>
    </div>
