@model GestaoTarefasIPG.Models.Departamento

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h1>Tem a certeza que pretende apagar?</h1>

<table class="table table-info">
    <thead>
        <tr>
            <th>Nome do Departamento</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.NomeDepartamento)</td>
            
        </tr>
    </tbody>
</table>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartamentoId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
