@model GestaoTarefasIPG.Models.Departamento

@{
    ViewData["Title"] = "Detalhes";
}

<h1 >Detalhes</h1>

<table class="table table-info">
    <thead>
        <tr>
            <th>Nome do Departamento</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.NomeDepartamento)</td>

        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartamentoId" class="btn btn-warning">Editar </a> |
    <a asp-action="Index" class="btn btn-primary">Voltar </a>
</div>
