<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">@ViewBag.Title</h4>
        <p>@ViewBag.Message</p>
        <hr>
        <a asp-action="Index" class="btn btn-primary">Voltar para os Departamentos</a>
    </div>
</body>
</html>
